<?xml version="1.0"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
  <appSettings>
    <add key="TileWidth" value="64"/>
    <add key="TileHeight" value="32"/>

    <add key="GameFolder_Modules" value="Modules"/>
    <add key="GameFolder_Characters" value="Characters"/>
    <add key="GameFolder_EngineScripts" value="Scripts"/>
    
    <add key="ToolsetFolder_WorkingDirectory" value="temp"/>
    
    <add key="ModuleExtension" value="cmod"/>
    <add key="ModuleFolder_Maps" value="Maps"/>
    <add key="ModuleFolder_CharacterClasses" value="CharacterClasses"/>
    <add key="ModuleFolder_Conversations" value="Conversations"/>
    <add key="ModuleFolder_Creatures" value="Creatures"/>
    <add key="ModuleFolder_Items" value="Items"/>
    <add key="ModuleFolder_Placeables" value="Placeables"/>
    <add key="ModuleFolder_Scripts" value="Scripts"/>
    <add key="ModuleFolder_Tilesets" value="Tilesets"/>
  </appSettings>
</configuration>
